* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2e2e2e;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.body-container {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: #b0dce7;
    padding:18px;
    border-radius: 15px;
    width:650px;
}

.body-container .profil-container {
    background: linear-gradient(to right, #e5e775, #5b6f9b);
    padding-top: 16px;
    padding-bottom: 16px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    justify-content: space-between;
    
    border-top-left-radius: 2000px;
    border-top-right-radius: 2000px;
}

.body-container .profil-container .profil-photo img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 50%;
}

.body-container .profil-container .profil-content{overflow: hidden; width: 200px;}

.body-container .profil-container .profil-content .title {
    font-family: Arial, Helvetica, sans-serif;
    color: #d5d5d5;
    background-color: #0F0F0F;
    text-align: center;
    font-size: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.body-container .profil-container .profil-content p {
    font-size: 16px;
    padding: 16px;
    padding-top: 8px;
    padding-bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #d5d5d5;
}



/* INFORMATION DU PROFIL */
.body-container .profil-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 400px;
}

.body-container .profil-info .user-information .name {
    font-size: 30px;
    /* margin-top: 12px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    color: #252525;
    
}

.body-container .profil-info .user-information .profession {
    font-size: 26px;
    color: #2e2e2e;
}
table {
  border-collapse: collapse; /* Fusionne les bordures adjacentes */
  width: 35%;
}

th, td {
  border: 2px solid black;   /* Ligne de 1px, continue, noire */
  padding: 8px;      
}

