* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right ,#0c1557e1, #40700091 );
    padding: 50px;
    display: flex;
    align-items: baseline;
}
.body-container .profil-info  div{
    font-size: 16px;
    padding: 16px;
    padding-top: 8px;
    padding-bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0f0f0f;
}
.body-container{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    border-radius: 80px;
    background: linear-gradient(to right ,#3f50f1, #df4631 );
    padding-top: 50px;
    padding-bottom: 45px;
    width: 100%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

    
}
.body-container .profil-container .profil-photo img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 50%;
}